//colors
$purple: rgba(138, 66, 255, 0.95);
$red: rgb(255, 82, 66);
$red-light: rgba(255, 82, 66, 0.80);
$green: rgba(0, 255, 60, 0.48);
$btn-green: rgba(0, 255, 60, 0.95);
$yellow: rgb(255, 206, 0);
$black: #293134;
$gray: #4B4B4B;
$gray-light: #808D93;
$bg-blue: #F4F7FC;


//font

$font-primary: 'Poppins', sans-serif;

//border radius
$radius-modal: 10px;
$radius-botton: 5px;
$radius-card: 15px;

//shadow
$shadow: 0 0 8;
